body {
    background-color: #24282f;
    color: #ffffff;

    .product-box {
        background-color: #3c3e44;
        width: 600px;
        height: 220px;
        display: flex;
        overflow: hidden;
        background: #3c3e44;
        border-radius: 0.5rem;
        margin: 0.75rem;
        box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
        padding-left: 0px;

        .left {
            flex: 2 1 0%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                margin: 0px;
                opacity: 1;
                transition: opacity 0.5s ease 0s;
                object-position: center center;
                object-fit: cover;
            }
        }
        .right {
            flex: 3 1 0%;
            position: relative;
            padding: 0.75rem;
            color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            padding-left: 15px;

            p {
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            .section {
                flex: 1 1 0%;
                display: flex;
                flex-direction: column;
                -webkit-box-pack: center;
                justify-content: center;

                .text-gray {
                    color: #9e9e9e;
                    font-size: 16px;
                    font-weight: 500;
                }
                a {
                    color: #f5f5f5;
                    text-decoration: none;

                    &:hover {
                        color: #ff9800;
                    }
                    h2 {
                        font-size: 1.5rem;
                    }
                    
                }
                .status {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0px;
                    padding: 0px;
                    
                    &__icon {
                        height: 0.5rem;
                        width: 0.5rem;
                        margin-right: 0.375rem;
                        background: #55cc44;
                        border-radius: 50%;
                        font-size: 16px;
                        font-weight: 500;
                        margin: 0px;
                        padding: 0px;
                    }
                }
            }
        }
    }
    .profile-detail {
        margin-top: 40px;
        display: flex;
        background-color: #3c3e44;
        padding: 20px;
        border-radius: 20px;

        .view {
            img {
                max-width: 180px;
                border-radius: 20px;
            }
            
        }
        .description {
            padding-left: 20px;

            
        }
    }
}